# Virtual environments
.venv/
venv/
env/

# Sensitive environment variables and keys
.env
*.env

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# UV / build caches
.uv/
dist/
build/